@model List<The_complex_of_testing_hash_functions.Models.HashFunction>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="mb-4">Добро пожаловать</h1>
    
    <a class="btn btn-primary" asp-controller="RainbowTable" asp-action="Create">
        Создать радужную таблицу
    </a>
    
    <a class="btn btn-secondary m-2" asp-controller="HashFunctions" asp-action="Index">
        Просмотреть хеш-функции
    </a>
</div>